mixin _form (block_name, form__inputs, mix_block)
    - const form_class = mix_block ? `${block_name} ${mix_block}`: `${block_name}`
        form(class= `${form_class}` action= 'https://echo.htmlacademy.ru' method= 'post')
            h2(class=`${block_name}__header`) Форма
            for form_input in form_inputs
                fieldset(class=`${block_name}__${form_input.fieldset}`)
                    for element in form_input.inputs
                        label= element.label
                        if element.text_area
                            textarea(class=`${block_name}__list` type= element.type name= element.name required= element.required ? element.required : null)
                        else 
                            input(class=`${block_name}__list` type= element.type name= element.name required= element.required ? element.required : null)

            button(type="submit") Отправить





            //- не забудь, что у тебя в данных есть тема, что можно инпут на text-area заменить
            //надо посмотреть условия, как они работаю